div {
    width: 300px;
    height: 300px;
    position: absolute;
}

.squere1 {
    background-color: pink;
    margin-left: 600px;
    margin-top: 150px;
}

.squere2 {
    background-color: rgb(18, 128, 255);
    margin-left: 800px;
    margin-top: 350px;
    z-index: 1;
}

.squere3 {
    background-color: rgb(135, 236, 140);
    margin-left: 1000px;
    margin-top: 550px;
}